@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Merriweather:wght@300;400;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #fdf2e9;
}

h1{
    font-family: 'Merriweather', serif;
    font-size: 3.25rem;
    color: #444;
    font-weight: 700;
    line-height: 1.4;
}

p{
    font-family: 'Lato', sans-serif;
    color: #666;
    font-size: 17px;
    line-height: 1.8;
}

a{
    font-family: "Lato";
    text-decoration: none;
    color: #666;
}

.nav-header{
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: 1.5px solid #666;
    margin-bottom: 3.5rem;
}
.nav-links{
    display: flex;
    justify-content: space-between;
}

.nav-link{
    display: flex;
    list-style: none;
    gap: 2rem;
}

.container{
    margin: 0 auto;
    width: 80%;
    max-width: 1080px;
}

.cta{
    width: 55%;
}

.content h1{
    margin-bottom: 2rem;
}
.content p{
    margin-bottom: 3rem;
}

.btn{
    display: inline-block;
    text-decoration: none;
    background: #d65d3e;
    color: rgb(255, 255, 255);
    padding: 1em 2em;
    border-radius: 999px;
    box-shadow: #d65c3e2c 0px 5px 10px 0px;

    font-weight: 900;
    font-size: 1.125rem;
    margin-right: 1rem;
}

.btn-secondary{
    background: transparent;
    border: 2px solid #db6547;
    color: #db6547;
    margin-right: 0;

}

.btn:hover{
    opacity: .75;
}

.deliveries-container{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 3rem;
}

.deliveries-imgs img{
    height: 3.25rem;
    border: 3px solid white;
    border-radius: 50%;
    margin-right: -1.75rem;
}
.deliveries-imgs img:last-child{
    margin: 0;
}

.numbar span{
    color: #d65d3e;
    font-size: 1.125rem;
}
