*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
    background: #eaeaea;
    color: #202020;
    font-family: sans-serif;
}

body{
    height: 100%;
    width: 100%;
 }

 .wrapper{
    overflow-y: hidden;
 }

.container{
    margin: 4rem auto;
    width: 85%;
}

.nav-header{
    display: flex;
    justify-content: space-between;
}
.nav-links{
    display: flex;
    gap: 2.375rem;
    list-style: none;
}
.linkedin-icon{
    height: 1.3125rem;
}

.linkedin-icon, .drive{
    cursor: alias;
}

.main-content{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
}
.id-card{
    z-index: 0;
    margin-left: -272px;
    max-height: 28.75rem;
}
.text{
    background: transparent;
    z-index: 1;
    position: relative;
    top: 300px;
    right: 210px;
}

.footer{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: .0938rem
}
.cta{
    font-size: 3rem;
    font-weight: 600;
}

.copy{
    background: transparent;
}

a:hover{
    color: #5200ff;
    fill: #5200ff;
}