*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background: #eaeaea;
    font-family: sans-serif;
}

html{
    scroll-behavior: smooth;
}

.home-link-mobile{
    display: none;
}

.container{
    width: 70%;
    max-width: 1920px;
    margin: 0 auto;
}

.nav-container{
    width: 70%;
    max-width: 1920px;
    margin: 0 auto;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 13vh;
}

.nav a, .work a{
    text-decoration: none;
    font-weight: 800;
    font-size: 1.125rem;
    color: #333;
}

.blank-links{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2em;
}

.hero{
    display: grid;
    grid-row: 1;
    grid-column: 1;
    place-items: center;
    overflow: hidden;
}

.text{
    background: transparent;
    display: grid;
    grid-row: 1;
    grid-column: 1;
    transform: translate(94%, 36%);
}

.img{
    display: grid;
    grid-row: 1;
    grid-column: 1;
}

.work{
    padding: 2.5rem 0;
}

.text-wrapper{
    display: flex;
    justify-content: flex-start;
    overflow: hidden;
}

.text-wrapper a{
    text-decoration: none;
    letter-spacing: -0.02em;
    font-size: 2.875rem;
    font-weight: 600;
    white-space: nowrap;
    padding: 2.375rem 0rem;
    animation: move-rtl 20s linear infinite;
    color: #333;
}

.link-out{
    height: 2rem;
    padding: 0 4rem;
    fill: #333;
}

@keyframes move-rtl{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-100%);
    }
}

.description-content{
    padding: 1.75rem 0;
    line-height: 1.7;
    max-width: 65ch;
    font-size: 1.0625rem;
    color: #444;
    text-transform: lowercase;
}

.footer{
    display: flex;
    justify-content: flex-end;
    font-size: 1.0625rem;
    padding: 2.5rem 0;
    text-transform: lowercase;
    color: #444;
}

.borderline{
    height: 1px;
    background: #C7C7C7;
}

.icon-linkedin{
    fill: #333;
    height: 40px;
    width: 40px;
    margin-left: -4px;
}

@media(max-width: 550px){
    .blank-links{
        gap: 1.5rem;
    }

    .nav-container{
        width: 80%;
    }

    .home-link-web{
        display: none;
    }
    .home-link-mobile{
        display: inline-block;
    }

    .icon-linkedin {
        margin-left: -9px;
    }
}
