*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
    background: #eaeaea;
}

html {
    scroll-behavior: smooth;
}

h1{
    font-size: 40px;
    font-weight: 900;
}

a{
    color: #2a36b8;
}
a:hover{
    color: #5200ff;
    fill: #5200ff;
    transition: ease 0.5s;
}

.container{
    margin: 0 auto;
    width: 85%;
    max-width: 1080px;
}

.main-nav-section{
    min-height: 11vh;
    display: grid;
    align-items: flex-end;
    margin-bottom: 2rem;
}

.main-nav{
    display: flex;
    justify-content: space-between;
}
.main-nav a{
    text-decoration: none;
    font-weight: 900;
    font-size: 1.1875rem;
}

.nav-links{
    display: flex;
    gap: 2.625rem;
    list-style: none;
}

.linkedin-icon{
    width: 1.3rem;
    fill: #2a36b8;
}
.linkedin-icon:hover{
    fill: #5200ff;
    transition: ease 0.5s;
}

.hero{
    margin-bottom: 2.5rem;
}
.hero-content{
    display: flex;
    align-items: center;
    justify-content: center;
}

.id{
    position: relative;
    right: -155px;
    z-index: 0;
}

.text{
    font-size: 1.125rem;
    background: transparent;
    position: relative;
    left: 115px;
    z-index: 1;
}

.work-text-divider{
    display: inline-block;
    font-weight: 900;
    font-size: 1.1875rem;
    margin-bottom: 2rem;
    text-decoration: none;
}

.projects{
    overflow-x: hidden;
    margin-bottom: 3rem;
}

.marquee-container{
    border-top: 1px solid #202020;
    border-bottom: 1px solid #202020;
    display: flex;
}

.marquee{
    display: flex;
    align-items: center;
    white-space: nowrap;
    padding: 2rem 0;
}
.marquee a{
    text-decoration: none;
    font-size: 3rem;
    font-weight: 600;
    animation: marquee 20s infinite linear;
}
.marquee:hover a{
    color: #5200ff;
    fill: #5200ff;
    transition: ease 0.5s;
}

.description{
padding: 1.75rem 0;
line-height: 1.8;
max-width: 65ch;
justify-content: flex-start;
font-size: 1.125rem;
}

.link-out{
    height: 2rem;
    padding: 0 3rem;
    color: #2a36b8;
    fill: #2a36b8;
}

.footer{
    display: flex;
    justify-content: flex-end;
    font-size: 1rem;
    margin-bottom: 2rem;
}

@keyframes marquee{
    0%{
        transform: translateX(0);
    }

    100%{
        transform: translateX(-100%);
    }
}

@media(max-width: 716px){
    .text{
        display: none;
    }

    .id{
        right: 0px;
    }

    .home-link{
        display: none;
    }

    .nav-links{
        gap: 2rem;
    }
}
