*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}

html{
  scroll-behavior: smooth;
}

h2, h3, h4, p{
  color: #2D3748;
}

p{
  font-size: 1.125rem;
}

.text{
  max-width: 60ch;
  line-height: 1.5;
}

.subtext{
  color: #607585;
}

.container{
  max-width: 1920px;
  width: 75%;
  margin: 0 auto;
}

.hero{
  padding: 6rem 0;
}

.content{
  display: grid;
  gap: 2rem;
}

.title {
  letter-spacing: -0.02em;
  font-size: 2.875rem;
  font-weight: 600;
  color: #0e2f81;
  
  background-image: var(--gradient);
  background-clip: text;
  color: transparent;
  display: inline-block;
  background-size: 300%;
  animation: bg-animation 7s infinite; 
}

.details{
  padding-bottom: 6rem;
}

.details-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

@media (max-width: 768px) {
  .details-content {
      grid-template-columns: 1fr;
      gap: 2.5rem;
  }
}

.details-block{
  display: grid;
  gap: 1rem;
}


:root {
  --gradient: linear-gradient(90deg, #4098FF, #4058FF, #0e2f81);
  --gradientw: linear-gradient(90deg, #f4f4f4, #d7e6ff, #e1f4ff);

}

.gradient {
  background-size: 300%;
  background-image: var(--gradient);
  animation: bg-animation 6s infinite;
  border-radius: 8px;
}
.gradientw {
  background-size: 300%;
  background-image: var(--gradientw);
  animation: bg-animation 6s infinite;
  border-radius: 8px;
}

@keyframes bg-animation {
  0% {background-position: left}
  50% {background-position: right}
  100% {background-position: left}
}

.img-container{
  width: 100%;
  height: 100%;
}
.img-flex{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.problem{
  padding: 9rem 0;
}
.problem-two{
  padding: 9rem 0;
}

.problem-details-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: flex-start;
  grid-gap: 5rem;
  padding-bottom: 9rem;
}

@media (max-width: 768px) {
  .problem-details-content {
      grid-template-columns: 1fr;
      gap: 2.5rem;
  }

  .step-grid {
      display: grid;
      grid-template-columns: 1fr;
    }
}


.order-entry-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: 0px 0px 16px 8px rgba(45, 55, 72, 0.20);
  border-radius: 7px;
}

.order-entry{
  padding-bottom: 6rem;
}

.grid{
  display: grid;
  gap: 1.25rem;
  text-align: center;
}
.flex{
  display: flex;
  gap: 1rem;
}

.process {
  padding-top: 9rem;
}

.step-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

@media (max-width: 768px) {
  .step-grid {
      grid-template-columns: 1fr;
    }
}

.step-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
}

.step {
  display: grid;
  gap: 1rem;
  padding-bottom: 6rem;
  align-content: start;
}

@media (max-width: 768px) {
  .step-section {
      grid-template-columns: 1fr;
    }
}

.persona-name{
  display: flex;
  gap: .75rem;
  color: #4058FF;
}
.persona-header{
  display: grid;
  gap: .75rem;
  padding-bottom: 1rem;
}
.fill{
width: 100%;
height: 1px;
border-radius: 8px;
padding: 80px;
}

.desc-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-top: #4058FF 2px solid;
  padding-top: 2rem;
  padding-bottom: 4rem;
  gap: 2rem;
}

@media (max-width: 768px) {
  .desc-grid {
      grid-template-columns: 1fr;
    }

  .step-section{
      padding-top: 4rem;
    }
}

.nav-container{
  width: 75%;
  max-width: 1920px;
  margin: 0 auto;
}

.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 13vh;
}

.nav a{
  text-decoration: none;
  font-weight: 800;
  font-size: 1.125rem;
  color: #333;
}

.blank-links{
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3em;
}

.icon-linkedin{
  fill: #333;
  height: 40px;
  width: 40px;
  margin-left: -4px;
}

.home-link-mobile{
  display: none;
}

@media(max-width: 550px){
  .blank-links{
      gap: 1.5rem;
  }

  .nav-container{
      width: 80%;
  }

  .home-link-web{
      display: none;
  }
  .home-link-mobile{
      display: inline-block;
  }

  .icon-linkedin {
      margin-left: -9px;
  }
}

.icon-linkedin:hover{
  fill: none;
  stroke: #333;
  stroke-width: 2px;
}

.text-wrapper:hover > *{
  -webkit-text-stroke: 1.5px #333;
  color: #eaeaea;
}

a:hover{
  -webkit-text-stroke: 1px #333;
  color: #eaeaea;
}

.problem-conten{
  padding-top: 5rem;
}

.persona-padding{
  padding-bottom: 4.5rem;
}

.nav-progress {
  position: sticky;
  top: 0;
  z-index: 10;
}

.progress-container {
  width: 100%;
  position: absolute;
  top: 100%;
  left: 0;
}

.progress {
  height: .3125rem;
  background-color: #4058FF;
}
