*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}

html{
  scroll-behavior: smooth;
}

p{
  line-height: 1.5;
    max-width: 70ch;
    font-size: 1.1875rem;
    color: #444;
}

h3{
  font-size: 1.25rem;
}

li{
  font-size: 1.1875rem;;
}

img {
  max-width: 100%;
}

.nav-container{
  width: 70%;
  max-width: 1920px;
  margin: 0 auto;
}

.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 13vh;
}

.nav a{
  text-decoration: none;
  font-weight: 800;
  font-size: 1.125rem;
  color: #333;
}

.blank-links{
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3em;
}

.icon-linkedin{
  fill: #333;
  height: 40px;
  width: 40px;
  margin-left: -4px;
}

.home-link-mobile{
  display: none;
}

.container{
  width: 70%;
  max-width: 1920px;
  margin: 0 auto;
}

.hero{
  padding-top: 5rem;
  padding-bottom: 2.5rem;
}

.info-block{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: 2.5rem;
}

.info{
  text-align: center;

  display: flex;
  align-items: center;
  color: #444;
  padding-bottom: 5rem;
}

.intro {
  text-align: center;
  display: grid;
  place-content: center;
  padding: 5rem 0;
}

.intro-title {
  font-size: 1.5rem;
  line-height: 1.6;
  color: #333;
  max-width: 75ch;
}

.heading{
  display: grid;
  gap: 2rem;
}

.review-cards{
  overflow: hidden;
  padding: 5rem 0;
}
.review-cards-support{
  padding-bottom: 5rem;
}

.gal{
  height: 100%;
  transform: rotateZ(-2deg);
  padding-top: 7rem;
  padding-bottom: 4rem;
}

.gal:nth-of-type(1) {
  display: grid;
  place-content: center;
}
.gal:nth-of-type(2) {
  display: grid;
  align-content: center;
  overflow: hidden;
}
.gal:nth-of-type(2) ul {
  list-style-type: none;
  gap: 2em;
  display: flex;
}
.gal:nth-of-type(2) ul li {
  background: #999;
  cursor: grab;
  display: grid;
  place-content: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  border-radius: 8px;
  width: 600px;
  height: 250px;
}

.ux-methodologies{
  padding: 5rem 0;
  display: grid;
  gap: 10rem;
}

.ui-title{
  padding-top: 5rem;
}


.section-four{
  padding: 4.5rem 0;
}

@media(max-width: 550px){
  .blank-links{
      gap: 1.5rem;
  }

  .nav-container{
      width: 80%;
  }

  .home-link-web{
      display: none;
  }
  .home-link-mobile{
      display: inline-block;
  }

  .icon-linkedin {
      margin-left: -9px;
  }
}

@media (min-width: 800px) {
  .row {
      display: flex;
  }

  .col {
      width: 100%;
      display: grid;
      place-content: center;
  }

  .col + .col {
      margin-left: 5em;
  }
}

@media (max-width: 800px) {
.section-three p{
  padding-bottom: 5rem;
}

.ux-methodologies{
  gap: 8rem;
}
}

.insights-ul{
  list-style-position: inside;
  padding-left: 0;
  display: grid;
  gap: 1rem;
  line-height: 1.6;
}

.footer{
  display: flex;
  justify-content: flex-end;
  font-size: 1.0625rem;
  padding: 5rem 0;
  text-transform: lowercase;
  color: #444;
}


.grey{
  background: #eaeaea;
}

.section-three{
  display: flex;
  align-items: center;
}

.icon-linkedin:hover{
  fill: none;
  stroke: #333;
  stroke-width: 2px;
}

.text-wrapper:hover > *{
  -webkit-text-stroke: 1.5px #333;
  color: #eaeaea;
}

a:hover{
  -webkit-text-stroke: 1px #333;
  color: #eaeaea;
}

.nav-progress {
  position: sticky;
  top: 0;
  z-index: 10;
}

.progress-container {
  width: 100%;
  position: absolute;
  top: 100%;
  left: 0;
}

.progress {
  height: .3125rem;
  background-color: #EF7627;
}
