*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    overflow: hidden;
    background: #dddddd;
}

body::after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    box-shadow:
    inset 0 0 100px 20px rgba(0, 0, 0, 0.5),
    inset 0 0 100px 50px rgba(0, 0, 0, 0.3);

    pointer-events: none; 
}

 .grid-container {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(6, auto);

    width: 125vw;
    height: 125vh;
    transform: scale(1.2);
    transform-origin: top left;

    gap: 6px;
}

.grid-item {
    aspect-ratio: 1 / 1;
    background-color: #222;
}

.central-image {
    grid-column: 4 / span 2;
    grid-row: 3 / span 2;
    aspect-ratio: 1 / 1;
}

img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    display: block;
    mix-blend-mode: initial;
}